.article-container {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    text-align: center; 
    background-color: #a2a8d3;
    grid-gap: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

img {
    height: 190px; 
    width: 330px; 
    border-radius: 15px;
}

input {
    margin-bottom: 25px; 
    width: 220px;
    border-radius: 20px;
    border: none;
    height: 20px;
}

::placeholder {
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .article-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .article-container {
        grid-template-columns: repeat(1, 1fr);
    }
}