.no-image {
    height: 190px; 
    width: 330px;
    background-color: #D8BFD8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    &:hover {
        transform: scale(1.1);
    }
}

.img-style {
    &:hover {
        transform: scale(1.1);
    }
}

.article-styling {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: #452c63;
}

.description {
    width: 80%;
}

h2 {
    margin-bottom: 0; 
}