button {
    cursor: pointer; 
    width: 40px;
    border: none;
}

.details-container {
    display: flex; 
    flex-direction: column;
    align-items: center;
    color: #452c63;
}

.content {
    width: 70%;
}

.title {
    width: 75%;
}

.source {
    font-style: italic;
}